<td style="background: linear-gradient(110deg, #3baffd 0%, #badef7 90%);">{{ article.libelle }}</td>
<td style="background: linear-gradient(110deg, #3baffd 0%, #badef7 90%);">{{ article.prix }}</td>
<td style="background: linear-gradient(110deg, #3baffd 0%, #badef7 90%);">{{ article.stock }}</td>
<td style="background: linear-gradient(110deg, #3baffd 0%, #badef7 90%);">{{ article.categorie_libelle }}</td>
<td style="background: linear-gradient(110deg, #3baffd 0%, #badef7 90%);">
    <button (click)="update(article)" class="btn btn-primary mr-2">
        Edit
    </button>
    <button (click)="deleteArt(article)" class="btn btn-danger">
        {{ (isConfirming && articleToDelete === article.id) ? 'OK(' + countdown + ')' : 'Delete' }}
    </button>
</td>

