
<div style="width: 70em;border: 5px solid #fff; margin-top: -2.199em;background: #0a82b5; border-radius: 20px;" class="card mb-5" class="shadow-lg p-3 mb-5 rounded">
    <div class="card-header" style="background: linear-gradient(110deg, #285b99f3 0%, #f802ec 90%);">
        <h2 class="card-title" style="text-shadow: 2px 2px 8px rgb(255, 0, 0);color: rgb(255, 255, 255);">List of Sales Items</h2>
    </div>
    <div class="card-body">
        <form>
            <table class="table table-bordered">
                <thead class="border table table-bordered" style="background: linear-gradient(110deg, #285b99f3 0%, #f802ec 90%);">
                    <tr class="border">
                        <th class="border">Libellé</th>
                        <th class="border">QteStooutline-darkck</th>
                        <th class="border">Article de Confection</th>
                        <th class="border">Action</th>
                    </tr>
                </thead>
                <tbody class="border" id="selectionTableBody">
                    <tr class="app-items border" [art]="art"(del)="deleting($event)" (updated)="update($event)"
                       *ngFor="let art of articles.reverse()">
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<app-paginate [links]="links" (url)="url($event)"></app-paginate>
